body {
    background: url("../assets/crew/background-crew-mobile.jpg") no-repeat center fixed;
    background-size: cover;
}

.desktop,
.tablet {
    display: none;
}

.mobile,
.tablet {
    text-align: center;
    padding-bottom: 2rem;
}

.page-header {
    font-size: 1rem;
    letter-spacing: 2.7px;
    padding-bottom: 2rem;
}

.content-image {
    border-bottom: 0.5px solid rgba(151, 151, 151, 0.5);
    margin: auto;
    width: 80%;
}

.content-image img {
    margin: auto;
    width: auto;
    height: 13rem;
}

.content-nav {
    display: flex;
    justify-content: center;
    gap: 5%;
    padding: 2rem 0;
}

.content-nav-item {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 50%;
    width: 0.6rem;
    height: 0.6rem;
}

.content-nav-item.selected {
    background-color: #FFF;
}

.content-crew-title {
    font-family: 'Bellefair', serif;
    opacity: 0.5;
}

.content-crew-name {
    font-size: 1.5rem;
    font-family: 'Bellefair', serif;
    padding: 1rem 0;
}

.content-desc {
    color: #D0D6F9;
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: auto;
    max-width: 19rem;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        background: url("../assets/crew/background-crew-tablet.jpg") no-repeat center fixed;
        background-size: cover;
    }

    .tablet {
        display: block;
        padding: 0;
    }

    .mobile {
        display: none;
    }

    .page-header {
        font-size: 1.25rem;
        letter-spacing: 3.38px;
        padding: 5%;
        text-align: left;
    }

    .content-crew-title {
        font-size: 1.5rem;
    }

    .content-crew-name {
        font-size: 2.5rem;
    }

    .content-desc {
        font-size: 1rem;
        min-width: 29rem;
    }

    .content-image {
        border-bottom: none;
        height: 35rem;
        width: auto;
    }

    .content-nav {
        gap: 3%;
    }

    .content-nav-item:not(.selected):hover {
        background-color: rgba(255, 255, 255, 0.5);
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        background: url("../assets/crew/background-crew-desktop.jpg") no-repeat center fixed;
        background-size: cover;
    }

    .desktop {
        display: grid;
        grid-auto-rows: 3rem auto;
        padding: 5% 5% 2%;

    }

    .page-header {
        font-size: 1.75rem;
        grid-column: 1/3;
        grid-row: 1/2;
        letter-spacing: 4.72px;
        padding: 0;
    }

    .content {
        align-self: flex-end;
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: left;
    }

    .content-crew-title {
        font-size: 2rem;
    }

    .content-crew-name {
        font-size: 2.8rem;
        padding: 1rem 0;
    }

    .content-desc {
        font-size: 1.1rem;
        line-height: 2rem;
        margin: 0;
        min-width: 28rem;
    }

    .content-nav {
        gap: 5%;
        justify-content: flex-start;
        padding: 5rem 0 2rem;
    }

    .content-nav-item {
        width: 0.9rem;
        height: 0.9rem;
    }

    .content-image {
        grid-column: 2/3;
        grid-row: 1/3;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .desktop {
        gap: 0 10%;
    }

    .content-crew-name {
        font-size: 3.5rem;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1600px) {
    .desktop {
        padding: 5%;
    }

    .content {
        justify-self: flex-end;
    }
}