body {
    background: url("../assets/destination/background-destination-mobile.jpg") no-repeat center fixed;
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-grow: 10;
}

.page-header {
    font-size: 1rem;
    letter-spacing: 2.7px;
    padding: 1rem 0;
}

.image img {
    padding: 2rem 0;
    width: 10rem;
}

.content-nav {
    color: #D0D6F9;
    display: flex;
    justify-content: center;
    gap: 5%;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 2.36px;
    width: 100%;
}

.content-nav li {
    padding-bottom: 1rem;
}

.content-nav li.selected {
    border-bottom: 3px solid #FFF;
    color: #FFF;
}

.name {
    font-size: 3.5rem;
    padding: 1rem 0;
}

.description {
    font-size: 0.9rem;
    line-height: 1.5rem;
    max-width: 19rem;
    padding: 0 1rem;
}

main hr {
    color: #383B4B;
    margin: 1rem 0;
    width: 90%;
}

.facts__property {
    color: #D0D6F9;
    font-size: 0.8rem;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2.36px;
    padding-bottom: 1rem;
}

.facts__value {
    font-family: 'Bellefair', serif;
    font-size: 1.75rem;
    padding-bottom: 1rem;
}

.desktop {
    display: none;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        background: url("../assets/destination/background-destination-tablet.jpg") no-repeat center fixed;
        background-size: cover;
    }

    .mobile {
        display: none;
    }

    .tablet {
        display: flex;
    }

    main hr {
        margin: 3rem 0 2rem;
    }

    .page-header {
        font-size: 1.25rem;
        padding-left: 10%;
        align-self: flex-start;
    }

    .image img {
        width: 18rem;
    }

    .content-nav {
        font-size: 1rem;
    }

    .content-nav li:not(.selected):hover {
        border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    }

    .name {
        font-size: 5rem;
    }

    .description {
        font-size: 1rem;
        line-height: 1.75rem;
        min-width: 36rem;
    }

    .facts {
        width: 100%;
    }

    .facts div {
        display: inline-block;
    }

    .facts__distance {
        margin-right: 15%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        background: url("../assets/destination/background-destination-desktop.jpg") no-repeat center fixed;
        background-size: cover;
    }

    .desktop {
        display: block grid;
        gap: 0 10%;
        grid-auto-rows: 3rem auto;
        justify-content: normal;
        text-align: left;
    }

    .page-header {
        align-self: center;
        font-size: 1.75rem;
        grid-column: 1/3;
        grid-row: 1/2;
        letter-spacing: 4.72px;
    }

    .image {
        grid-column: 1/2;
        grid-row: 2/3;
        justify-self: end;
    }

    .image img {
        width: 21rem;
    }

    .content {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .content-nav {
        justify-content: flex-start;
    }

    .name {
        padding: 1.5rem 0;
    }

    .description {
        min-width: 25rem;
        padding: 0;
    }

    .content hr {
        width: 25rem;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .image img {
        width: 27rem;
    }
}