body {
    background: url("../assets/destination/background-destination-desktop.jpg") no-repeat center fixed;
    background-size: cover;
}

main {
    display: grid;
    grid-auto-rows: 50px auto;
    height: 80%;
    padding: 0 3%;
}

.page-header {
    color: #FFF;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.75rem;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    letter-spacing: 0.3rem;
    margin: auto 0;
    padding-left: 5%;
}

.page-header .num {
    opacity: 0.25;
    font-weight: 700;
    margin-right: 1rem;
}

.content {
    margin: auto;
    padding-bottom: 2rem;
}

.content-image {
    margin: auto;
}

.content-image img {
    max-width: 90%;
}

.content-nav {
    display: flex;
    padding-bottom: 2rem;
}

.content-nav li {
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 0.15rem;
    padding-bottom: 1rem;
    margin-left: 2rem;
}

.content-nav .selected {
    color: #FFF;
}

.content-nav>li:first-child {
    margin-left: 0;
}

.content-nav :not(.selected):hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.content-header {
    color: #FFF;
    font-size: 6.2rem;
    font-family: 'Bellefair', serif;
}

.content-desc {
    font-size: 1.1rem;
    line-height: 2rem;
    max-width: 27rem;
    padding: 1.5rem 0;
    text-transform: none;
}

.content hr {
    margin: 1rem 0;
    min-width: 27rem;
}

.content-fact {
    display: inline-block;
    margin: 1rem 0;
}

.distance {
    padding-right: 6rem;
}

.content-fact-property {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 0.88rem;
    letter-spacing: 0.15rem;
    padding-bottom: 0.5rem;
}

.content-fact-value {
    color: #FFF;
    font-family: 'Bellefair', serif;
    font-size: 1.8rem;
}

/* (1023px - 1250px) */
@media only screen and (max-width: 1250px) {
    h1 .num {
        margin-right: 1rem;
    }
}

/* Tablet (768px - 1023px) */
@media only screen and (max-width: 1023px) {
    body {
        background: url("../assets/destination/background-destination-tablet.jpg") no-repeat center fixed;
        background-size: cover;
    }

    main {
        display: block;
        text-align: center;
    }

    .page-header {
        font-size: 1.25rem;
        text-align: left;
    }

    .content-image img {
        width: 300px;
        padding: 3rem 0;
    }

    .content-nav {
        align-items: center;
        justify-content: center;
    }

    .content-header {
        font-size: 5rem;
    }

    .content-desc {
        margin: auto;
        max-width: 37rem;
    }

    .content hr {
        margin: 1rem auto;
        max-width: 37rem;
    }

    .content-nav :not(.selected):hover {
        border-bottom: none;
    }
}

/* Mobile (0 - 767px) */
@media only screen and (max-width: 767px) {
    .content-image img {
        width: 170px;
        height: 170px;
    }

    .page-header {
        text-align: center;
        padding-left: 0;
    }

    .content-header {
        font-size: 3.5rem;
    }

    .content-desc {
        line-height: 1.8rem;
        max-width: 22rem;
        padding: 1rem 0 0;
    }

    .content hr {
        margin: 2rem auto;
        min-width: 0;
        width: 90%;
    }

    .content-fact {
        display: block;
        padding-right: 0;
    }

    .distance {
        padding-bottom: 1rem;
    }
}