* {
    font-weight: 400;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    color: #FFF;
    font-size: 16px;
    text-transform: uppercase;
    width: 100%;
}

a {
    all: unset;
}

.hamb, 
.hamb-close,
li {
    cursor: pointer;
}

img {
    display: block;
}

.page-header {
    font-family: 'Barlow Condensed', sans-serif;
}

.page-header .num {
    opacity: 0.25;
    padding-right: 1rem;
}

.content-desc {
    text-transform: none;
    color: #D0D6F9;
    font-family: 'Barlow', sans-serif;
}