header {
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Barlow Condensed', sans-serif;
    height: 100px;
    letter-spacing: 0.15rem;
}

.logo {
    padding-left: 10%;
}

.hamb {
    height: 21px;
    width: 24px;
    padding-right: 10%;
}

.header-nav-hamb {
    backdrop-filter: blur(30px);
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 55%;
    z-index: 2;
}

.hamb-close {
    margin-left: auto;
    padding: 15%;
}

.hamb-close,
.header-nav-hamb ul {
    display: block;
}

.header-nav-hamb li {
    padding: 10%;
}

.num {
    font-weight: 700;
    margin-right: 0.3rem;
}

header hr,
.header-nav {
    display: none;
}

.show {
    display: block;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .logo {
        padding-left: 5%;
    }

    header {
        height: auto;
    }

    .hamb,
    .header-nav-hamb {
        display: none;
    }

    .header-nav {
        background-color: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(35px);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 60%;
        font-size: 0.8rem;
    }
    
    .header-nav ul {
        display: flex;
        gap: 20%;
        justify-content: space-evenly;
    }

    .header-nav li {
        padding: 15% 0;
    }
    
    .header-nav .num {
        display: none;
    }

    .selected {
        border-bottom: solid #FFF;
    }

    .header-nav li:not(.selected):hover {
        border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    header {
        margin-top: 2.5rem;
    }

    header hr {
        border: 0.5px solid rgba(151, 151, 151, 0.5);
        display: block;
        width: 25%;
    }

    .header-nav {
        font-size: 1rem;
    }

    .header-nav ul {
        gap: 0%;
        width: 100%;
    }

    .header-nav li {
        padding: 5% 0;
    }

    .header-nav .num {
        display: inline-block;
        font-weight: 700;
        margin-right: 0.3rem;
    }
}